%html
  %head

  %body
    .container
      .stripe.fill
        .header
          %h1 Dark Matter Day
          %h2 6:00 PM, 31st October 2017
          %h3 Durham University

      .stripe
        .event
          .container
            .col-md-6
              %h2 Event Details
            .col-md-6
              %img

      .stripe.fill
        .map
          Map stuff

      .stripe
        .websites
          .cards
            .card
              IPPP
            .card
              ICC

       .stripe.fill
         .twitter
           .container
             .col-md-6
               IPPP
             .col-md-6
               ICC

          .footer
            logos



