%html
  !!!HTML
  
  %head
    %link{:href => "https://unpkg.com/basscss@8.0.2/css/basscss.min.css", :rel => "stylesheet"}

  %body
    .clearfix
      .stripe.fill
        .header
          %h1 {{ header.title }}
          %h2 {{ header.time }}, {{ header.date }}
          %h3 {{ header.location }}

      .stripe
        .event
          .container
            .md-col-6
              %h2 {{ details.heading }}
              %p {{ details.blurb }}
            .md-col-6
              %img

      .stripe.fill
        .map
          %iframe{:src => "{{ map.shareurl }}", :frameborder => "0"}

      .stripe
        .websites
          %h2 Event Organisers
          %p {{ cards.blurb }}
          .cards
            .card
              %h3 {{ cards.left.title }}
            .card
              %h3 {{ cards.right.title }}

      .stripe.fill
        .twitter
          .clearfix
            .md-col-6
              %a.twitter-timeline{:href => "https://twitter.com/{{ twitter.left }}"}
                Tweets by {{ twitter.left }}
              // We may need async here.
              %script{:src =>"//platform.twitter.com/widgets.js", :charset => "utf-8"}
            .md-col-6
              %a.twitter-timeline{:href => "https://twitter.com/{{ twitter.right }}"}
                Tweets by {{ twitter.right }}
              %script{:src =>"//platform.twitter.com/widgets.js", :charset => "utf-8"}




